@media only screen and (max-width: 1024px){
    .garis{display: none;}
    .pos1{display: none;}
    body{
        background-image: auto;
    }
    .foot .foot-part{
        margin-bottom: 250px;
    }
    .foot .foot-part1{
        left: 50px;
    }
    .foot .logo-triple-s{
        bottom: 150px;
    }
    .foot .logo-ikadin{
        bottom: 90px;
        left: 70px;
    }
}